$color_primary: #191927;
$color-primary-text: white;
$color_primary_hover: #616180;
$color-foreign: #20ba49;
$color-local: #2075ba;

body {
  background-color: $color_primary;
}

h1 {
  text-align: center;
}

h3 {
  margin-top: 8px;
}

a {
  color: $color-primary-text;
  text-decoration: none;
}

a:hover {
  color: $color_primary_hover;
  text-decoration: none;
}

ul{
  list-style-type:none;
  padding-left: 0;
}

.btn {
  margin: 5px;
}

.left-column {
  color: $color-primary-text;
  height: 100%;
}

#channel-list-field {
  color: $color-primary-text;
  height: calc(100vh - 375px);
  overflow-y: scroll;
}


#new-channel-field {
  height: 125px;
  color: $color-primary-text;
}

.title-bar {
  height: 100px;
  color: $color-primary-text;
}

.btn {
	background-color: $color_primary;
	border: $color_primary;
	color: $color-primary-text;
}

.btn:hover {
	background-color: $color_primary_hover;
	border: $color_primary_hover;
	color: $color-primary-text;
}

.element {
  border-color: $color-primary-text;
  border-width: 3px;
  border-style: solid;
  border-radius: 6px;
  padding: 20px;
  margin-top: 10px;
}

.foreign-message {
  background-color: $color-foreign;
  border-radius: 4px;
  padding: 7px;
  width: 60%;
  margin-left: 0px;
  margin-bottom: 5px;
}

.local-message {
  background-color: $color-local;
  border-radius: 4px;
  padding: 7px;
  width: 60%;
  margin-left: 40%;
  margin-bottom: 5px;
}

#channel {
  background-color: $color-primary-text;
  height: calc(100vh - 240px);
  overflow-y: scroll;
  display: flex;
  flex-direction: column-reverse;
}

#send-message {
  margin-top: 7px;
}

#username-input {
  margin-top: 7px;
}

#username-submit {
  margin-top: 7px;
}

#message-input {
  margin-top: 7px;
}
